a {
  &:link, &:visited {
    color: $color__link;
  }
  &:hover, &:focus, &:active {
    color: $color__link-hover;
    outline: none;
  }
  &.invert{
    &:link, &:visited {
      color: $color__link-hover;
      outline: none;
    }
    &:hover, &:focus, &:active {
      color: $color__link;
    }
  }
  &.unset{
    &:link, &:visited{
      color: unset !important;
    }
  }
}
.btn-container{
  margin-top:2em ;
  .btn-primary{
    cursor: pointer;
    position: relative;
    background: linear-gradient(to right, $color__company-secondary 50%, $color__company-primary 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    @include transition;
    padding: 1em 2.25em;
    line-height: 1.25em;
    color:rgba(255,255,255,0.9) !important;
    border-radius: 50px;
    font-size: 1.125em;
    text-decoration: none !important;
    box-shadow: 0 0 0 0 rgba(113, 201, 62, 0.2);
    -webkit-animation: pulse 1.25s 1.6s cubic-bezier(0.16, 0, 0, 1);
    -moz-animation: pulse 1.25s 1.6s cubic-bezier(0.16, 0, 0, 1);
    -ms-animation: pulse 1.25s 1.6s cubic-bezier(0.16, 0, 0, 1);
    animation: pulse 1.25s 1.6s cubic-bezier(0.16, 0, 0, 1);

    &:hover{
      background-position: left bottom;
    }
  }
  .btn-outline{
    position: relative;
    border: 1px solid #fff;
    padding: 1em 2.25em;
    line-height: 1.25em;
    color:rgba(255,255,255,0.9) !important;
    border-radius: 50px;
    font-size: 1.125em;
    text-decoration: none !important;
    -webkit-animation: pulse 1.25s 1.6s cubic-bezier(0.16, 0, 0, 1);
    -moz-animation: pulse 1.25s 1.6s cubic-bezier(0.16, 0, 0, 1);
    -ms-animation: pulse 1.25s 1.6s cubic-bezier(0.16, 0, 0, 1);
    animation: pulse 1.25s 1.6s cubic-bezier(0.16, 0, 0, 1);
  }
}

@media (max-width: 1200px) {
  .btn-container{
    .btn-primary, .btn-outline{
      font-size: 1em;
    }
  }
}
