input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  @include transition;
  color: $color__text-input;
  border-radius: 0;
  width: 100%;

  &::placeholder{
    opacity: .75;
  }

  background: none;
  border:none;
  border-bottom: solid 2px $color__company-primary;
  padding:10px 0;

  &:focus {
    color: $color__text-input-focus;
    outline: none;
    border-bottom: solid 2px $color__company-quartenary;
  }
}

select {
  border: 1px solid $color__border-input;
}

input[type="submit"]{
  float:right;
  border:none;
  border-radius: 50px;
  padding:20px 0;
  font-size: 1.25em;
  width:33%;
  background: $color__company-primary;
  color: #fff;
}

@media all and (max-width: 768px){
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="tel"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"],
  textarea {
    font-size: 1em;
  }
}