// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
@mixin clearfix() {
  content: "";
  display: table;
  table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

// Transition
@mixin transition() {
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
}


@mixin linear-gradient($from, $to) {
  background: $to;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
  background: -o-linear-gradient(top, $from 0%,$to 100%);
  background: linear-gradient(to bottom, $from 0%,$to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}


@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}


@-webkit-keyframes fade-in {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;


  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;


  }
}
@keyframes fade-in {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;
  }
}


@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scale-in-rotate {
  0% {
    transform: scale(0.7) rotate(55deg);

  }
  100% {
    transform: scale(1.1) rotate(70deg);
  }
}
@-moz-keyframes scale-in-rotate {
  0% {
    transform: scale(0.7) rotate(55deg);

  }
  100% {
    transform: scale(1.1) rotate(70deg);
  }
}
@keyframes scale-in-rotate {
  0% {
    transform: scale(0.7) rotate(55deg);

  }
  100% {
    transform: scale(1.1) rotate(70deg);
  }
}

@-webkit-keyframes scale-in {
  0% {
    transform: scale(0.8) ;
    opacity: 0;
  }
  50%{
    transform: scale(1.1) ;
    opacity: 0.7;
  }
  100% {
    transform: scale(1) ;
    opacity: 1;
  }
}
@-moz-keyframes scale-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50%{
    transform: scale(1.1) ;
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50%{
    transform: scale(1.1) ;
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pop{
  50%  {transform: scale(0.7) translate(38px, 38px);}
}

@keyframes rotate {
  0%{
    transform: rotate(-75deg) scale(0.7);

    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}

@keyframes sticky-menu {
  0%{
    transform: translateY(-110px);
  }
  100%{
    transform: translateY(0);
  }
}



.fly-in {
  transition: 0.3s ease-in-out;
  transform: translateY(10px);
  opacity: 0;
  &.visible {
    transform: translateY(0px);
    opacity: 1;
  }
}


