
#archive{
  h1 {
    font-size: 2.5em;
    color: $color__company-primary;
    font-weight: bold;
    margin-bottom: 0em;
  }
  .ocean-container{
    height:250px;
  }
  #section-1{
    position: relative;
  }

  .post-content {
    margin-top: 100px;
  }
  #section-2{
    z-index:0;
    padding-bottom:50px;
    min-height:0;
  }
  #section-3{
    padding:0;
    margin-top:-75px;

    .case-item-wrapper{
      padding:45px 0;
      &:nth-child(odd){
        background: #F8FCF6;
      }
    }
    .case-img{
      position: relative;
      height:400px;
      .page-thumb-wrapper {
        position: absolute;
        width: 400px;
        height: 400px;
        left:0;
        z-index: 0;
        pointer-events: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        #overlay {
          position: absolute;
          pointer-events: none;
          transform: scale(1.001);
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background-image: url('/wp-content/themes/silverbee-starter/img/hex-overlay-green.svg');
          background-size: 100%;
          background-repeat: no-repeat;
          &.overlay-white{
            background-image: url('/wp-content/themes/silverbee-starter/img/hex-overlay.svg');
          }
        }
      }
    }
    .case-desc{
      h5{
        font-size: 1em;
        color: $color__company-primary;
      }
    }
  }
  #section-4{
    background: #fff;
  }

  .archive-diensten{
    #section-3{
      padding:75px 0;
    }
    #section-4, #section-6{
      background: #fff;
    }
  }
}

@media all and (max-width: 1200px){
  #archive{
    #section-2{
      .ocean-container{
        margin-top:0;
      }
    }
  }
}

@media all and (max-width: 992px){
  #archive{
    .post-content{
      margin-top:35px;
    }
    #section-3 {
      .case-img{
        height:300px;
        .page-thumb-wrapper {
          width:300px;
          height:300px;
          margin:0 25px;
        }
      }
    }
  }
}

@media all and (max-width: 768px){
  #archive{
    #section-3 {
      .case-img{
        height:250px;
        .page-thumb-wrapper {
          height:250px;
          width:250px;
        }
      }
    }
    #vraag-wrapper {
      .vraag-content {
        padding-top:50px;
      }
    }
  }
}

@media all and (max-width: 576px){
  #archive{
    #section-2{
      padding-bottom:0;
      .ocean-container{
        display: none;
      }
      .archive-diensten{
        margin-top:100px;
      }
    }
    #section-3 {
      margin-top:50px;
      .case-img{
        height:50px;
        .page-thumb-wrapper {
          left: auto;
          top:-25px;
          right:0;
          height:100px;
          width:100px;
        }
      }
    }
  }
}

@media all and (max-width: 414px){
  #archive{
    #section-3 {
      .case-img{
        height:50px;
        .page-thumb-wrapper {
          left: auto;
          top:-15px;
          right:-40px;
          height:100px;
          width:100px;
        }
      }
    }
  }
}