footer{
  padding: 30px 0;
  position: relative;
  .site-branding{
    a{
      img{
        max-width: 240px;
      }
    }
  }
  .vestiging{
    p{
      margin-bottom: 0em;
      line-height: 1.75em;
      font-size: 1em;

      strong{

      }
    }
  }
  .contact-btn-container{
    position: absolute;
    right: 0;
    height: 100%;
    a{
      &::before{
        z-index: -1;
        content: '';
        position: absolute;
        height: 45px;
        top: 0;
        left: 0;
        width: 100%;
        background: #71c93e;
        clip-path: polygon(0 0,100% 0,80% 100%,20% 100%);
        -webkit-clip-path: polygon(0 0,100% 0,80% 100%,20% 100%);
      }
      position: absolute;
      padding:5px 50px;
      right: 0;
      color:#fff;
      top:-30px;
      font-size: 1.25em;
      font-weight: bold;
      text-decoration: none;
    }
    .hex-container{
      position: relative;
      height: 295px;
      width: 312px;
      transform: scale(.5);
      top: -200px;
      right: -100px;
      z-index:0;
      .hex {
        position: absolute;
        top:0;
        left: 75px;
        margin: 1em auto;
        width: 10em; height: 17.32em;
        border-radius: 1em/.5em;
        background: $color__company-primary;
        transition: opacity .5s;
      }
      &.hovered{
        opacity: 0.7;
      }
    }
  }
  .mail{
    text-align: right;
    margin-top: 35px;

    a{
      span{
        position: relative;
        top: -1px;
        margin-right: 5px;
        svg{
          width: 20px;
          height: 21px;
          .cls-1 {
            fill: $color__company-secondary;
            stroke:none;
            opacity: 1;
          }
        }
      }
    }
  }
  .social-media{
    margin-top: 10px;
    text-align: right;
    li{
      display: inline-block;
      margin-left: 10px;

      &#in{
        svg{
          width: 38px;
          height: 38px;
          g{

            path{
              opacity: 1;
              &.a{
                fill:$color__company-secondary;
                opacity: 1;
              }
            }
          }

          g.b{
            .c{
              opacity: 0;
              fill: #fff;
            }
            .d{
              fill:$color__company-secondary;
            }
          }


        }
      }
      &#fb{



        svg{
          width: 38px;
          height: 38px;
          g,path{
            fill:$color__company-secondary;
          }
          ellipse{
            fill:#fff;
          }
          #Ellipse_8{
            stroke: $color__company-secondary;
          }

        }
      }
      a{

      }
    }
  }
}

@media (max-width: 1600px) {
  footer{
    .site-branding{
      a{
        img{
          max-width: 180px;
        }
      }
    }
  }

}

@media (max-width: 1200px) {
  footer{
    .contact-btn-container{
      overflow: hidden;
      margin-top: -30px;
      .hex-container {

        top: -180px;

      }
      a{
        top:0;

        z-index: 9;
      }
    }
  }
}

@media (max-width: 992px) {
  footer{
    .vestiging{

    }
    .contact-btn-container{
      .hex-container{
        .hex {
        }
        &.hovered{
        }
      }
    }
    .mail{

    }
    .social-media{

    }
  }
}

@media (max-width: 767px) {
  footer {
    .site-branding{
      a{
        img{
          max-width: 190px;
        }
      }

    }

    .contact-btn-container {


    }
  }
}