#front-page{
  overflow-y:hidden !important;
}

#section-1 {
  &:after {
    content: '';
    position: absolute;
    background: #fff;
    top: 311px;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: -3;
  }
  .front-cta-container {
    position: relative;
    z-index:8;
    display: block;
    max-width: 420px;
    margin-top: 10em;
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
    &.menu-open {
      opacity: 0 !important;
      z-index:-1 !important;
    }

    .btn-container {
      opacity: 0;
      position: absolute;
      z-index:+1;
      margin-top:0;
      animation: fade-in 1s 1.4s ease-out forwards;
    }
    h1 {
      font-size: 2.5em;
      span {
        opacity: 0;
      }

      strong{
        span{
          opacity: 1;
        }
      }

      span:nth-child(1) {
        animation: fade-in 1s .4s ease-out forwards;
      }
      span:nth-child(2) {
        animation: fade-in 1s .5s ease-out forwards;
      }
      span:nth-child(3) {
        animation: fade-in 1s .6s ease-out forwards;
      }
      span:nth-child(4) {
        animation: fade-in 1s .7s ease-out forwards;
      }
      span:nth-child(5) {
        animation: fade-in 1s .8s ease-out forwards;
      }
      span:nth-child(6) {
        animation: fade-in 1s .9s ease-out forwards;
      }
      span:nth-child(7) {
        animation: fade-in 1s 1s ease-out forwards;
      }
      span:nth-child(8) {
        animation: fade-in 1s 1.1s ease-out forwards;
      }
      span:nth-child(9) {
        animation: fade-in 1s 1.2s ease-out forwards;
      }

      strong{
        color: $color__company-primary;
        font-weight: 700;
      }
      margin-bottom: 1em;
    }

  }
  .image-container {
    position: absolute;
    z-index: 6;
    width: 100%;
    right: 0;
    opacity: 1;
    top: 0;
    padding-bottom: 50%;
    overflow: hidden;
    .image {
      overflow: hidden;
      right: -5%;
      top: -25%;
      width: 50%;
      z-index: -2;
      border-radius: 100%;
      padding-bottom: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
    }
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 50%;
      top: 70px;
      right: -3px;
      height: 230px;
      @include linear-gradient(white, rgba(255, 255, 255, 0.01));
    }
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 50%;
      top: 0;
      right: 0;
      height: 70px;
      background: #fff;
    }
    .play-container {
      top: 56%;
      right: 33%;
      border-radius: 160px;
      position: absolute;
      background: $color__company-primary;
      width: 100px;
      height: 100px;
      @include box-shadow(6px, 6px, 24px, rgba(113, 201, 62, 0.5));
      box-shadow: 0 0 0 0 rgba(113, 201, 62, 0.5);
      -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
      -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
      -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
      animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
      z-index: 3;
      transition: background .3s ease-in-out;

      .icon-container {
        width: 42px;
        z-index: 99;
        height: 42px;
        margin: 0 auto;
        margin-top: 28px;

        svg {
          width: 42px;
          height: 42px;
          transition: all .3s ease-in-out;
          #phone {

          }
          #wave1 {
            animation: fade-in-out 2s 1s infinite ease-in-out;

          }
          #wave2 {
            animation: fade-in-out 1s 2s infinite ease-in-out;
          }

        }
      }
      &:hover {
        background: #8DD364;
        svg {
          transform: scale(1.1) rotate(19deg);
        }
      }

    }
    .bg-play {

      background: #D8F7BC;
      opacity: 1;
      width: 220px;
      height: 220px;
      position: absolute;
      border-radius: 100%;
      top: 49.5%;
      z-index: -5;
      right: 30%;

    }
  }
}

#section-2 {
  background: #F8FCF6;
  min-height: 700px;

  position: relative;
  .svg-container {
    overflow: hidden;
    margin-top: -320px;
    position: relative;
    width: 1020px;
    height: 920px;

    margin-left: -80px;
    .svg-mask {
      display: inline-block;
      width: 350px;
      height: 350px;
      position: relative;
      &:nth-child(1) {

      }
      &:nth-child(2) {
        margin-left: -20px;
        top: -90px;
      }
      &:nth-child(3) {
        margin-left: -20px;
        top: -180px;
      }
      &:nth-child(4) {
        margin-left: -90px;
        top: -20px;
      }
      &:nth-child(5) {
        margin-left: -20px;
        top: -110px;
      }
      &:nth-child(6) {
        margin-left: -20px;
        top: -200px;
      }
      &:nth-child(7) {
        margin-left: -180px;
        top: -40px;
      }
      &:nth-child(8) {
        margin-left: -20px;
        top: -130px;
      }
      &:nth-child(9) {
        margin-left: -20px;
        top: -220px;
      }
      &:nth-child(10) {
        margin-left: 65px;
        top: -150px;
      }
      &:nth-child(11) {
        margin-left: -20px;
        top: -240px;
        z-index: 0;
      }
    }
  }
}

#section-3 {
  padding: 5% 0;
  position: relative;
  z-index: +1;

  svg {
    float: right;

    #smart-home {
      transition: all .3s ease-in-out;

    }
  }
  .graphic.fly-in.visible {
    #smart-home {
      animation: scale-in 1s 1s ease-in;

    }

  }
}

#section-4 {
  background: #F8FCF6;
  padding: 5% 0;
}

#section-5 {
  padding: 5% 0;

  svg {
    float: right;
  }

}

#section-6 {
  padding: 5% 0;
  background: #F8FCF6;
  svg {
    float: left;
  }
}

section.webdev{
  svg{
    .cls-1 {
      fill: none;
      stroke-dasharray: 25 25;
      opacity: 0.15;
    }

    .cls-2 {
      fill: #f6f6f6;
    }

    .cls-3, .cls-5 {
      fill: #dce1de;
    }

    .cls-10, .cls-12, .cls-4 {
      fill: #8c9b93;
    }

    .cls-6 {
      fill: #fff;
    }

    .cls-7 {
      fill: #dfefd7;
    }

    .cls-8 {
      fill: #ceeabe;
    }

    .cls-9 {
      fill: #71c93e;
    }

    .cls-10 {
      opacity: 0.295;
    }

    .cls-11, .cls-12, .cls-13 {
      stroke: none;
    }

    .cls-13 {
      fill: #707070;
    }

    .cls-14 {
      filter: url(#Rectangle_14);
    }
  }
}

section.online-marketing{
  svg{
    .cls-1, .cls-14 {
      fill: none;
    }

    .cls-1 {
      stroke-dasharray: 25 25;
    }

    .cls-2 {
      fill: #ebf6e4;
    }

    .cls-3, .cls-4, .cls-6 {
      fill: #c6e8b1;
    }

    .cls-4 {
      stroke: #71c93e;
    }

    .cls-11, .cls-5 {
      fill: #71c93e;
    }

    .cls-7 {
      fill: #fff;
    }

    .cls-8 {
      fill: #dfefd7;
    }

    .cls-9 {
      fill: #ceeabe;
    }

    .cls-10 {
      fill: #f8fcf6;
    }

    .cls-11 {
      opacity: 0.295;
    }

    .cls-12, .cls-13, .cls-15 {
      stroke: none;
    }

    .cls-13 {
      fill: rgba(140, 155, 147, 0.2);
    }

    .cls-15 {
      fill: #707070;
    }

    .cls-16 {
      filter: url(#Rectangle_14);
    }
  }
}

section.vis-identity{
  svg{
    .cls-1, .cls-16 {
      fill: none;
    }

    .cls-1 {
      stroke-dasharray: 25 25;
      opacity: 0.15;
    }

    .cls-2 {
      fill: #ebf6e4;
    }

    .cls-3 {
      fill: #fff;
    }

    .cls-4 {
      fill: #dfefd7;
    }

    .cls-5 {
      fill: #ceeabe;
    }

    .cls-6, .cls-8, .cls-9 {
      fill: #c6e8b1;
    }

    .cls-12, .cls-14, .cls-7 {
      fill: #71c93e;
    }

    .cls-9 {
      stroke: #707070;
    }

    .cls-10 {
      fill: #8c9b93;
    }

    .cls-11 {
      fill: #fbfbfb;
    }

    .cls-12 {
      opacity: 0.295;
    }

    .cls-13, .cls-14, .cls-15 {
      stroke: none;
    }

    .cls-15 {
      fill: #707070;
    }

    .cls-17 {
      filter: url(#Path_93);
    }
  }
}

section.communicatie{
  svg{
    .cls-1, .cls-14 {
      fill: none;
    }

    .cls-1 {
      stroke-dasharray: 25 25;
    }

    .cls-2 {
      fill: #ebf6e4;
    }

    .cls-3, .cls-4, .cls-6 {
      fill: #c6e8b1;
    }

    .cls-4 {
      stroke: #71c93e;
    }

    .cls-11, .cls-5 {
      fill: #71c93e;
    }

    .cls-7 {
      fill: #fff;
    }

    .cls-8 {
      fill: #dfefd7;
    }

    .cls-9 {
      fill: #ceeabe;
    }

    .cls-10 {
      fill: #f8fcf6;
    }

    .cls-11 {
      opacity: 0.295;
    }

    .cls-12, .cls-13, .cls-15 {
      stroke: none;
    }

    .cls-13 {
      fill: rgba(140, 155, 147, 0.2);
    }

    .cls-15 {
      fill: #707070;
    }

    .cls-16 {
      filter: url(#Rectangle_14);
    }
  }
}

.ocean-container {
  overflow: hidden;
  position: relative;
  height: 400px;
  margin-top: 0px;
  z-index: 5;
  transform: rotate(180deg);
  opacity: 1;
}

.ocean {
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url('/wp-content/themes/silverbee-starter/img/wave.svg') repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 408px;
  animation: wave 14s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 14s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 14s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

@media (max-width: 1840px) {
  #section-2 {

    .cases-intro-container{
      margin-top: -120px;
    }

    .svg-container {

      margin-top: -320px;
      position: relative;
      width: 720px;
      height: 640px;

      .svg-mask {

        width: 250px;
        height: 250px;

        &:nth-child(1) {

        }
        &:nth-child(2) {
          margin-left: -20px;
          top: -65px;
        }
        &:nth-child(3) {
          margin-left: -20px;
          top: -130px;
        }
        &:nth-child(4) {
          margin-left: -60px;
          top: -15px;
        }
        &:nth-child(5) {
          margin-left: -20px;
          top: -80px;
        }
        &:nth-child(6) {
          margin-left: -20px;
          top: -145px;
        }
        &:nth-child(7) {
          margin-left: -125px;
          top: -30px;
        }
        &:nth-child(8) {
          margin-left: -15px;
          top: -93px;
        }
        &:nth-child(9) {
          margin-left: -20px;
          top: -159px;
        }
        &:nth-child(10) {
          margin-left: 45px;
          top: -105px;
        }
        &:nth-child(11) {
          margin-left: -10px;
          top: -174px;
          z-index: 0;
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  #section-1 .image-container .bg-play {
    top: 48.5%;
    right: 29%;
  }

}

@media (max-width: 1400px) {
  #section-2 {
    .cases-intro-container {
      margin-top: -80px;
    }
  }
  #section-1 {
    .image-container {
      .play-container {
        top: 62%;
        right: 25%;
      }
      .bg-play {
        top: 52%;
        right: 20.5%;
      }
    }
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  #section-1 {
    &:after {
      top: 100px !important;

    }
    .front-cta-container {
      margin-top: 6em ;
      max-width: 350px;

    }
  }


  #section-2 {
    .ocean-container {
      margin-top: -130px;
      .ocean {
        .wave {

        }
      }
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  #section-2{
    .svg-container{
      margin-left:-260px;

    }
  }

  #front-page {
    #section-1{
      margin-bottom:75px;
    }
    .front-diensten {
      section {
        svg {
          max-width: 290px;
        }
      }
    }
  }

  #section-1 {
    .image-container {
      .play-container {
        top: 62%;
        right: 17%;
      }
      .bg-play {
        top: 48%;
        right: 11%;
      }
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 850px) {
  #section-1 {
    .image-container {
      padding-bottom: 70%;
      #movable-image {
        top: -10%;
      }

      .play-container {
        top: 52%;
        right: 10%;
        width: 84px;
        height: 84px;
        .icon-container {
          margin-top: 21px;
        }

      }
      .bg-play {
        width: 164px;
        height: 164px;
        top: 45%;
        right: 5.5%;
      }
    }
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {

  #section-2{
    .svg-container{
      margin-left:-120px;
      margin-top: -300px;
      margin-bottom: 100px;
    }
    .cases-intro-container{
      text-align: center;
      padding:50px 0 75px;
    }
  }


  #front-page {
    .front-diensten {
      section {
        svg {
          float: none;
          max-width: 280px;
          display: block;
          margin: 20px auto;
        }
        h2 {
          text-align: center;
        }
        p {
          text-align: center;
        }
        .btn-container {
          text-align: center;
          margin-bottom: 40px;
        }
      }
    }
    #section-1 {
      .front-cta-container {
        z-index: 7;
        position: relative;
      }

      .image-container {
        &:before {
          width: 70%;
          height: 100px;
        }
        &:after {
          top: 100px;
          width: 70%;
        }
        #movable-image {
          background-color: #fff;
          background-blend-mode: multiply;
          top: -2%;
          right:-5%;
          width: 55%;
          padding-bottom: 55%;
        }

        .play-container {
          display: none;

        }
        .bg-play {
          display: none;
        }
      }
    }
  }

}


@media (max-width: 640px) {
  #section-2 {
    .svg-container {
      margin-left: -230px;

    }
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  #section-1 {
    &:after{
      top: 70px !important;
    }
  }

  #section-2{
    .svg-container{
      margin-left:-100px;
      margin-top: -350px;
      margin-bottom: 100px;
    }
  }
}

@media (max-width: 420px) {
  #front-page{
    #section-1{
      .image-container{
        #movable-image{
          top:10%;
          width:60%;
        }
      }
    }
  }
  #section-2{
    .svg-container{
      margin-left:-200px;
    }
  }
}

@media all and (max-width: 375px){
  #section-2{
    .svg-container{
      margin-left:-225px;
    }
  }
}

@media (max-width: 320px) {
  #front-page{
    #section-1{
      .front-cta-container{
        margin-top:3em;
      }
      .image-container{
        #movable-image{
            display: none;
        }
      }
    }
  }
}