body {
  opacity: 0;
  animation: fade-in 1s .3s ease-out forwards;
}

.disable-overflow {
  overflow: hidden !important;
}

#page {
  overflow-x: hidden !important;
}

header#masthead {
  #primary-header {
    position: relative;
    z-index: 7;
    #social-hex {
      left: -7em;
      top: 10em;
      transform: scale(1) rotate(55deg);
      animation: scale-in-rotate 1s .15s ease-out forwards;
      .hex {
        background: $color__company-secondary;
      }
      ul {
        padding: 2em 0 0 6em;
        margin: 0;
        top: 1em;
        position: relative;
        transform: rotate(-70deg);
        li {
          display: block;
          margin-bottom: 15px;
          a {
            svg {
              width: 42px;
              height: 42px;

            }
          }
          list-style: none;
        }
      }
    }
    .site-branding {
      margin-top: 1em;
      opacity: 1;

      // animation: fade-in 1s .2s ease-out forwards;
      a {
        svg {
          max-width: 400px;
          position: relative;
          z-index: 99;
          g#left-part {

            height: 74px;
            width: 74px;

            #circle {
              position: absolute;
              animation: pop .7s .3s ease-out forwards;
            }
            #bee {
              opacity: 0;
              animation: rotate .3s .3s ease-out forwards;
            }
          }
        }
      }
    }
    .switcher {
      position: absolute;
      right: 250px;
      top: -3px;
      &.overlay-switch {
        position: unset;
        .wpml-ls-legacy-list-horizontal {
          padding: 0;
        }
        ul {
          margin: 0;
          li {
            padding: 0;
            margin: 0;
          }
        }
      }
    }
    nav.site-navigation {
      position: relative;
      ul {
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          margin-left: 2em;
          list-style: none;
          a {
            text-decoration: none;
          }
          &.menu-item-has-children {
            position: relative;
            ul.sub-menu {
              @include transition;
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
              position: absolute;
              display: table;
              opacity: 0;
              visibility: hidden;
              height: auto;
              width: 100%;
              margin: 0;
              padding: 0 15px;
              background: #fff;
              white-space: nowrap;
              li {
                border-bottom: 2px solid rgba(0, 0, 0, 0.05);
                padding: 10px 0;
                margin: 0;
                display: block;
                font-size: .8rem;
              }
            }
            &:hover {
              ul.sub-menu {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
      &.sub-navigation {
        float: right;
        height: 40px;
        position: relative;
        ul {
          z-index: 4;
          position: relative;
          li {
            padding-top: 5px;
            a {
              font-size: 1.125em;
            }
            &.menu-contact {
              padding-left: 35px;
              padding-right: 35px;
              position: relative;
              a {
                color: #fff;
                font-weight: bold;
              }
              &::before {
                z-index: -1;
                content: '';
                position: absolute;
                height: 40px;
                top: 0;
                left: 0;
                width: 100%;
                background: $color__company-primary;
                clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
                -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
              }
            }
          }
        }
      }
      &.main-navigation {
        z-index: 1;
        position: relative;
        margin-top: -20px;
        float: right;
        a {
          font-size: 1.5em; //24px
          font-weight: 700;
        }
        label {
          display: none;
          .hamburger {
            position: absolute;
            top: 145px;
            left: 40px;
            width: 40px;
            height: 3px;
            background: $color__company-secondary;
            display: block;
            -webkit-transform-origin: center;
            transform-origin: center;
            -webkit-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            &:after {
              -webkit-transition: .5s ease-in-out;
              transition: .5s ease-in-out;
              content: "";
              position: absolute;
              display: block;
              width: 100%;
              height: 100%;
              background: $color__company-secondary;
            }
            &:before {
              -webkit-transition: .5s ease-in-out;
              transition: .5s ease-in-out;
              content: "";
              position: absolute;
              display: block;
              width: 100%;
              height: 100%;
              background: $color__company-secondary;
              top: -12px;
            }
            &:after {
              bottom: -12px;
            }
            &:hover {
              background: $color__company-primary;
              &:before, &:after {
                background: $color__company-primary;
              }
            }
          }

          input {
            display: none;
            &:checked + .menus {

              background: #FFF;
              box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
              border-radius: 0;
              .hamburger {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                &:after {
                  -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
                  bottom: 0;
                }
                &:before {
                  -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
                  top: 0;
                }
              }
              + .overlay {
                visibility: visible;
                opacity: 1;
                background: #fff;
              }
            }
          }
          .menus {
            position: absolute;
            right: 0;
            top: -170px;
            z-index: 100;
            width: 100px;
            height: 100px;
            border-radius: 50% 50% 50% 50%;
            -webkit-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
            cursor: pointer;
          }
          .overlay {
            visibility: hidden;
            overflow-y: auto;
            position: fixed;
            top: 50%;
            z-index: 200;
            width: 100%;
            margin-top: 170px;
            padding-bottom: 100px;
            height: 100%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0;
            -webkit-transition: .9s 0s ease-in-out;
            transition: .9s 0s ease-in-out;
            .menu-primary-container, .menu-menu-es-container, .menu-menu-en-container {
              position: relative;
              display: block !important;
              ul {
                display: block;
                li {
                  margin-left: 0;
                  display: block;
                  a {
                    font-size: 2.5em;
                    margin-bottom: 0.5em;
                  }

                }
              }
            }
            .menu-secondary-container, .menu-secondary-es-container, .menu-secondary-en-container {
              ul {
                display: block;
                li {
                  margin-left: 0;
                  display: block;
                  a {
                    margin-bottom: 1em;
                  }

                }
              }
            }
            .vestiging {
              margin-top: 10px;
              position: relative;
              margin-bottom: 28px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              padding-bottom: 28px;
              .eindhoven {
                position: absolute;
                top: -3px;
                left: -50px;
                svg {

                  width: 42px;
                  height: 42px;
                  g, path {
                    fill: $color__company-secondary !important;
                  }
                }
              }
              .amsterdam {
                position: absolute;
                left: -50px;
                top: 5px;
                svg {
                  transform: rotate(90deg);
                  width: 42px;
                  height: 42px;
                  g, path {
                    fill: $color__company-secondary;
                  }
                }
              }
              strong {
                font-size: 1.25em;
              }
              p {
                font-size: 1em;
                line-height: 1.5em;
                margin-bottom: 5px;
              }
              &:nth-of-type(2) {
                margin-top: 0;
              }

            }
            .mail {
              display: inline-block;
              a {
                font-weight: 600;
                font-size: 1em;
                position: relative;
                span {
                  position: absolute;
                  top: -1px;
                  left: -45px;
                  margin-right: 5px;
                  svg {
                    width: 28px;
                    height: 28px;

                    .cls-1 {
                      fill: $color__company-secondary;
                      stroke: none;
                      opacity: 1;
                    }
                  }
                }
              }

            }
            .social-media {
              display: inline-block;
              text-align: right;
              float: right;
              margin-top: -7px;
              li {
                display: inline-block;
                margin-left: 10px;

                &#in {
                  svg {
                    width: 38px;
                    height: 38px;
                    g {

                      path {
                        opacity: 1;
                        &.a {
                          fill: $color__company-secondary;
                          opacity: 1;
                        }
                      }
                    }

                    g.b {
                      .c {
                        opacity: 0;
                        fill: #fff;
                      }
                      .d {
                        fill: $color__company-secondary;
                      }
                    }

                  }
                }
                &#fb {

                  svg {
                    width: 38px;
                    height: 38px;
                    g, path {
                      fill: $color__company-secondary;
                    }
                    ellipse {
                      fill: #fff;
                    }
                    #Ellipse_8 {
                      stroke: $color__company-secondary;
                    }

                  }
                }
                a {

                }
              }
            }

            ul.sub-menu {
              display: none !important;
            }
          }
          a {
            margin-bottom: 1em;
            display: block;
            color: $color__company-secondary;
            text-decoration: none;
          }
        }
      }
      .switcher{
        &.overlay-switch {
          position: unset;
          padding-bottom: 25px;
          margin-bottom:25px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          svg{
            width:35px;
            height:35px;
            position: absolute;
            left:-35px;
            path{
              fill: #899d93;
            }
          }
          .wpml-ls-legacy-list-horizontal {
            padding: 0;
          }
          ul {
            margin: 0;
            li {
              padding: 0;
              margin: 0;
              a{
                margin:8px 0 0;
                padding:0 15px;
                font-size:unset;
                img{
                  display: none;
                }
              }
              &:first-of-type{
                a{
                  padding-left:0;
                  &::before{
                    content:'Nederlands';
                  }
                }
              }
              &:nth-of-type(2){
                a{
                  &::before{
                    content:'English';
                  }
                }
              }
              &:nth-of-type(3){
                a{
                  &::before{
                    content:'Español';
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.is-sticky{
    #primary-header{
      margin-bottom:125px;
      .navigation-header{
        animation: sticky-menu 1s both;
        -webkit-animation: sticky-menu 1s both;
        position: fixed;
        width:100%;
        background: #fff;
        padding:0 0 10px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
        .site-branding{
          svg{
            width:200px;
          }
        }
      }
      nav.site-navigation{
        &.main-navigation{
          padding-top:5px;
          font-size:.8rem;
          label{
            .overlay{
              overflow-y: visible;
            }
          }
        }
        ul{
          li{
            &.menu-item-has-children{
              ul.sub-menu{
                li{
                  a{
                    font-size:1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  #social-hex {
    left: -14em !important;
    top: 1em !important;
    z-index: 1;
    ul {
      padding: 2em 0 0 10em !important;
    }
  }

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  header#masthead {
    margin-top: 25px;
    #primary-header {
      .site-branding {
        a {
          svg {
            max-width: 320px;
          }
        }
      }
      nav.site-navigation {
        .menu-primary-container, .menu-menu-es-container, .menu-menu-en-container {
          display: none;
        }

        &.sub-navigation {
          display: none;
        }

        &.main-navigation {
          label {
            position: absolute;
            right: 0;
            display: block;
          }
        }
      }

      #social-hex {
        display: none;
      }
      .switcher {
        display: none;
        &.overlay-switch {
          display: block;
        }
      }
    }
    &.is-sticky{
      margin-top:0;
      #primary-header{
        nav.site-navigation{
          &.main-navigation{
            label{
              .menus{
                top:-160px;
              }
            }
          }
        }
      }
    }
  }

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  header#masthead {
    #primary-header {
      .site-branding {
        a {
          svg {
            max-width: 240px;

          }
        }

      }
      nav.site-navigation {
        &.main-navigation {
          .outer-menu {
            label {
              position: absolute;
              right: 0;
              display: block;
              .menus {
                top: -159px;
              }
              .overlay {
                margin-top: 100px;
                font-size: 0.9em;

                .menu-primary-container, .menu-menu-es-container, .menu-menu-en-container {
                  ul {
                    li {
                      a {
                        margin-bottom: 0.2em;
                      }
                    }
                  }
                }
                .menu-secondary-container, .menu-secondary-es-container, .menu-secondary-en-container {
                  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                  padding-bottom: 10px;
                  ul {
                    li {
                      a {
                        margin-bottom: 0.4em;
                      }
                    }
                  }
                }
                .switcher{
                  &.overlay-switch{
                    padding-top:20px;
                    svg{
                      margin-left:48px;
                    }
                    .wpml-ls-legacy-list-horizontal{
                      margin-left:55px;
                    }
                  }
                }
                .vestiging {
                  p {
                    margin-left: 55px;
                  }
                  i {
                    margin-left: 48px;
                  }
                  &:nth-child(1) {
                    padding-top: 15px;
                    i {
                      top: 15px;
                    }
                  }
                }
                .mail {
                  margin-left: 45px;

                }
              }

            }
          }
        }
      }
    }
  }

}

@media all and (max-width: 376px) {
  header#masthead {
    #primary-header {
      .site-branding {
        a {
          svg {
            max-width: 175px;
          }
        }
      }
      nav.site-navigation {
        &.main-navigation {
          label {
            .hamburger {
              top: 155px;
            }
          }
        }
      }
    }
  }
}



