.grecaptcha-badge { visibility: hidden; }

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

#archive, #single, #taxonomy, .page-contact, #page {
  overflow-y: hidden;
  overflow-x: hidden;
}

.hex-container {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  height: 295px;
  width: 312px;
  transform: scale(.7);

  .hex {
    position: absolute;
    top: 0;
    left: 75px;
    margin: 1em auto;
    width: 10em;
    height: 17.32em;
    border-radius: 1em/.5em;
    background: $color__company-primary;
    transition: opacity .5s;
    &:before, &:after {
      position: absolute;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      background: inherit;
      content: '';
    }
    &:before {
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg);
    }
    &:after {
      -webkit-transform: rotate(-60deg);
      transform: rotate(-60deg);
    }
  }
  &.hovered {
    opacity: 0.7;
  }
}

#vraag-wrapper {
  position: relative;
  background: #fff;
}

#related-case-wrapper {
  padding: 50px 0;
  background: $color__soft-bg;
  .case-img {
    position: relative;
    height: 400px;
    .page-thumb-wrapper {
      position: absolute;
      width: 400px;
      height: 400px;
      left: 0;
      z-index: 0;
      pointer-events: auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      #overlay {
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transform: scale(1.005);
        background-image: url('/wp-content/themes/silverbee-starter/img/hex-overlay-green.svg');
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
  }
  .case-desc {
    h5 {
      font-size: 1em;
      color: $color__company-primary;
    }
  }
}

#contact-banner {
  background-image: url('/wp-content/themes/silverbee-starter/dist/img/contact.png');
  background-size: cover;
  padding: 5% 0;
  .contact-banner_image-container {
    margin-top: -1em;
    text-align: center;
    span {
      position: relative;
      display: inline-block;
      font-size: 2em;
      color: #fff;
      margin-right: 30px;
      top: 4px;
    }
    .btn-container {
      display: inline-block;
      margin-top: 0;
    }

  }
}

.blog-content {
  .written-by{
    font-size:.9rem;
    margin-bottom:10px;
  }
  .blog-post_footer {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px 20px 5px 0;
    display: block;
    position: relative;
    span.author_image {
      background: $color__company-secondary;
      width: 35px;
      height: 35px;
      position: relative;
      border-radius: 100%;
      display: inline-block;
      img {
        border-radius: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    span.author_name {
      display: inline-block;
      position: relative;
      top: 0;
      font-size: 0.875em;
      margin-left: 10px;
    }
    .btn-blog {
      position: relative;
      float: right;
      top: 2px;
      display: inline-block;
    }
  }
}

#blog-archive {
  background: #F8FCF6;
  padding-bottom: 5%;
  h2 {
    padding: 5% 0;
  }
  .masonry-row {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: 0px;
    .blog-post-container {
      position: relative;
      display: -ms-flexbox;
      -ms-flex-direction: column;
      -ms-flex-wrap: wrap;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .blog-post {
        background: #fff;
        width: 100%;
        box-shadow: 0 6px 24px rgba(140, 155, 147, 0.1);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .blog-post_image-container {
          opacity: 0.8;
          min-height: 200px;
          background-size: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          background-position: center;
          transition: opacity 0.3s ease-in-out;
        }
        .blog-post_header {
          padding: 20px 20px 0 20px;
          .date {
            display: block;
            margin-bottom: 5px;
          }
          .title {
            font-size: 1.3125em;
            display: block;
            color: $color__company-primary;
            font-weight: bold;
            a{
              &:link, &:visited{
                color: $color__company-primary;
                text-decoration: none;
              }
            }
          }
        }
        .blog-post_content {
          padding: 5px 20px 0 20px;
          p {
            font-size: 1em;
            margin-bottom: 20px;
            line-height: 1.5em;
          }
        }
        .blog-post_footer {
          border-top: 1px solid rgba(0, 0, 0, 0.05);
          padding: 10px 20px 5px 20px;
          display: block;
          position: relative;
          span.author_image {
            background: $color__company-secondary;
            width: 35px;
            height: 35px;
            position: relative;
            border-radius: 100%;
            display: inline-block;
            img {
              border-radius: 100%;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          span.author_name {
            display: inline-block;
            position: relative;
            top: 0;
            font-size: 0.875em;
            margin-left: 10px;
          }
          .btn-blog {
            position: relative;
            float: right;
            top: 2px;
            display: inline-block;
            font-weight:600;
          }
        }

      }
      &:first-child {
        margin-top: -0.1px;
        .blog-post_image-container {
          min-height: 380px;
          position: relative;
          &:after {
            content: '';
            position: absolute;
          }
        }
      }
      &:nth-child(2) {
        &:before {
          content: '';
          width: 1px;
          height: 150px;
          background: transparent;
          top: -150px;
          position: relative;
          left: 0;
        }
      }
      &:nth-child(3) {
        margin-top: .1px;
        &:before {
          content: '';
          width: 1px;
          height: 100px;
          background: transparent;
          top: -100px;
          position: relative;
          left: 0;
        }
      }
      &:nth-child(4) {

      }
      &:nth-child(5) {

      }
      &:nth-child(6) {

      }
      &:nth-child(7) {

      }
      &:hover {
        .blog-post_image-container {
          opacity: 1;
        }
      }
    }
  }
}

#map-container {
  position: relative;
  width: 570px;
  height: 570px;
  float: right;
  right: 0;
  z-index: 0;
  pointer-events: auto;
  #map {
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #overlay {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url('/wp-content/themes/silverbee-starter/img/hex-overlay.svg');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  #info-window-content{
    text-align: center;
  }
  .map-route{
    font-size:1rem;
    font-weight:600;
  }
}

.default-page {
  #section-1 {
    position: relative;
    &:after {
      background: transparent;
    }
    .page-thumb-wrapper {
      width: 400px;
      height: 400px;
      z-index: +0;
      pointer-events: auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      #overlay {
        pointer-events: none;
        left: 0;
        top: 0;
        transform: scale(1.001);
        z-index: 2;
        width: 100%;
        height: 100%;
        background-image: url('/wp-content/themes/silverbee-starter/img/hex-overlay.svg');
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
  }
  h1 {
    font-size: 2.5em;
    color: $color__company-primary;
    font-weight: bold;
    margin-bottom: 0em;
  }

  .post-content {
    margin-top: 100px;
    &.post-content-contact {
      margin-bottom: 150px;
    }
  }
  #section-2 {
    position: relative;
    background: transparent;
    pointer-events: none;
    min-height: 0;
    z-index: 0;
    margin-top: -100px;
    .ocean-container {
      pointer-events: none;
      z-index: 9;
      transform: rotate(0deg);
      .ocean {
        pointer-events: none;
        .wave {
          pointer-events: none;
          background: url('/wp-content/themes/silverbee-starter/img/wave-green.svg') repeat-x;
        }
      }
    }
    &.section-2-contact {
      margin-top: -300px;
    }
  }
  #section-3-pg {
    position: relative;
    padding-bottom: 5%;
    display: block;
    background-color: #F8FCF6;

    &.section-3-contact {
      padding-bottom: 0;
    }
  }
}

.teamlid-wrapper {
  padding: 50px 0 0;
  .teamlid-thumbnail {
    position: relative;
    img {
      width: 100%;
    }
    &.mirror {
      img {
        transform: scaleX(-1);
        padding-left: 10%;
      }
    }
    .teamlid-desc {
      position: absolute;
      background: url('/wp-content/themes/silverbee-starter/img/teamlid-bg.png');
      background-size: contain;
      background-repeat: no-repeat;
      color: #fff;
      height: 145px;
      width: 250px;
      bottom: 0;
      right: 0;
      display: table;
      .content {
        font-size: 1em;
        text-align: center;
        display: table-cell;
        vertical-align: bottom;
        padding-bottom: 10px;
        span {
          margin-left: -5px;
          display: block;
          &:first-of-type {
            font-weight: 900;
            margin-top: 15px;
          }
        }
        .social {
          margin-top: 5px;
          span {
            width: 26px;
            margin: 0;
            display: inline-block;
          }
        }
      }
    }
  }
}

#employeeContact {
  .modal-header {
    border: none;
    padding-bottom: 0;
  }
  .modal-content {
    button {
      position: absolute;
      right: 0;
      text-align: right;
      margin-right: 10px;
      span {
        font-size: 2em;
        color: $color__company-secondary;
      }
    }
    .modal-title {
      font-weight: 600;
      font-size: 1.5em;
      color: $color__company-primary;
    }
    .function {
      padding-left: 1rem;
      font-weight: 600;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    }
  }
  .extra-teamlid {
    width: 100%;
    img {
      width: 20px;
      margin-right: 5px;
    }
    .left {
      margin-top: 15px;
      margin-bottom: 10px;
    }
    div {
      margin: 0 1rem;
    }
  }
}

@media all and (max-width: 1440px) {
  #map-container {
    width: 425px;
    height: 425px;
  }
  .default-page {
    #section-2 {
      &.section-2-contact {
        margin-top: -225px;
      }
    }
  }
}

@media all and (max-width: 1366px) {
  .teamlid-wrapper {
    .teamlid-thumbnail {
      .teamlid-desc {
        right: -50px;
        width: 225px;
        height: 130px;
        .content {
          font-size: .85em;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #map-container {
    width: 400px;
    height: 400px;
  }

  .default-page {
    #section-1 {
      .page-thumb-wrapper {
        width: 350px;
        height: 350px;
        float: right;
      }
    }
  }

  #contact-banner {
    overflow: hidden;
    .contact-banner_image-container {
      margin-top: 0em;
      span {
        font-size: 1.5em;
      }
      .btn-container {
        margin-top: 2em;
        margin-bottom: 2em;
      }
    }

  }
}

@media all and (max-width: 992px) {
  .default-page {
    .post-content {
      margin-top: 35px;
    }
    #section-1 {
      .page-thumb-wrapper {
        width: 325px;
        height: 325px;
      }
    }
    #section-2 {
      margin-top: -150px;
      &.section-2-contact {
        margin-top: -250px;
      }
    }
  }
}

@media all and (max-width: 768px) {
  #map-container {
    position: relative;
    margin: 25px auto 0;
    width: 100%;
    min-height: 100%;
    svg {
      display: none;
    }
  }

  #related-case-wrapper {
    .case-img {
      height: 250px;
      .page-thumb-wrapper {
        height: 250px;
        width: 250px;
      }
    }
  }

  .default-page {
    .post-content {
      &.post-content-contact {
        margin-bottom: 0;
      }
    }
    #section-1 {
      .page-thumb-wrapper {
        position: absolute;
        top: -50px;
        background-image: url("/wp-content/themes/silverbee-starter/img/hex-bg.png") !important;
        width: 200px;
        z-index: -3;
        height: 200px;
        right: 50px;
        svg {
          display: none;
        }

      }
    }
    #section-2 {
      .ocean-container {
        .ocean {
          .wave {
            background: none;
          }
        }
      }
      &.section-2-contact {
        margin-top: -250px;
      }
      margin-top: -400px;
      z-index: -10;
    }
    #section-3-pg {
      background: none;
      &.section-3-contact {
        margin-top: -75px;
        padding-top: 50px;
        background: #f8fcf6;
      }
    }
  }
  .teamlid-wrapper {
    .teamlid-thumbnail {
      .teamlid-desc {
        width: 195px;
        height: 110px;
        bottom: -1px;
        right: -60px;
        .content {
          font-size: .8em;
        }
      }
    }
  }
  #contact-banner {
    .contact-banner_image-container {
      span {
        margin-right: 0;
      }
    }
  }
}

@media all and (max-width: 576px) {
  .default-page {
    #section-1 {
      .page-thumb-wrapper {
        width: 250px;
        height: 250px;
      }
    }
  }
  #vraag-wrapper {
    .vraag-content {
      padding-top: 50px;
    }
  }
  .teamlid-wrapper {
    .teamlid-thumbnail {
      .teamlid-desc {
        width: 195px;
        height: 110px;
        bottom: -1px;
        right: 0;
      }
    }
  }
  #related-case-wrapper {
    padding: 50px 0;
    .case-img {
      height: 50px;
      .page-thumb-wrapper {
        left: auto;
        top: -10px;
        right: 0;
        height: 100px;
        width: 100px;
      }
    }
  }
}

@media all and (max-width: 414px) {
  #map-container {
    position: relative;
    margin: 25px auto 0;
    width: 100%;
    height: 300px;
  }
  .default-page {
    #section-1 {
      .page-thumb-wrapper {
        width: 200px;
        height: 200px;
        right: 0;
        top: 0;
      }
    }
  }

  .teamlid-wrapper {
    .teamlid-thumbnail {
      .teamlid-desc {
        right: -40px;
        width: 190px;
        height: 110px;
      }
    }
  }

}