
#single{
  .ocean-container{
    height:250px;
  }

  #section-1{
    z-index:+1;
    position: relative;
    &.dienst-single{
      margin-top:75px;
      .post-content{
        margin-top:100px;
      }
      .hex-bg{
        position: relative;
        background: url("/wp-content/themes/silverbee-starter/img/hex-bg.png");
        background-size: cover;
        background-position: center;
        width:378px;
        height:378px;
        text-align: center;
        img{
          position: absolute;
          top:0;
          bottom:0;
          left:0;
          right:0;
          margin: auto;
        }
      }
    }
    &.case-single, &.blog-single{
      margin-top:75px;
      position: relative;
      .page-thumb-wrapper {
        width: 400px;
        height: 400px;
        z-index:+0;
        pointer-events: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        #overlay {
          pointer-events: none;
          left: 0;
          top: 0;
          z-index:2;
          transform: scale(1.001);
          width: 100%;
          height: 100%;
          background-image: url('/wp-content/themes/silverbee-starter/img/hex-overlay.svg');
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }
      .cases-intro-container{
        .function{
          font-size:1.25rem;
          font-weight:600;
          margin-bottom:15px;
        }
      }
    }
  }
  h1 {
    font-size: 2.5em;
    color: $color__company-primary;
    font-weight: bold;
    margin-bottom: 0em;
  }
  #section-2{
    margin-top:75px;
    position: relative;
    z-index:0;
    min-height:0;
    padding-bottom:50px;
    a{
      &:link, &:visited{
        color: $color__company-primary;
      }
    }
  }
}

.entry-content{
  ul{
    margin-bottom:2rem;
    li{
      font-size:1.125rem;
    }
  }
}

@media all and (max-width: 1200px){
  .entry-content{
    ul{

      li{
        font-size:1rem;
      }
    }
  }
}

@media all and (max-width: 768px){
  #single{
    #section-1{
      &.case-single{
        .page-thumb-wrapper {
          margin-top:-25px;
          width: 100%;
          margin-bottom:50px;
          height:500px;
          position: relative;
          background-position: top;
          &::after{
            content:'';
            position: absolute;
            bottom:0;
            background: rgba(255,255,255,0);
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.15) 22%, rgba(255,255,255,0.76) 78%, rgba(255,255,255,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(22%, rgba(255,255,255,0.15)), color-stop(78%, rgba(255,255,255,0.76)), color-stop(100%, rgba(255,255,255,1)));
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.15) 22%, rgba(255,255,255,0.76) 78%, rgba(255,255,255,1) 100%);
            background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.15) 22%, rgba(255,255,255,0.76) 78%, rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.15) 22%, rgba(255,255,255,0.76) 78%, rgba(255,255,255,1) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.15) 22%, rgba(255,255,255,0.76) 78%, rgba(255,255,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
            height:100%;
            width:100%;
          }
        }
      }
      &.dienst-single{
        .hex-bg{
          position: absolute;
          top: -60px;
          background-image: url("/wp-content/themes/silverbee-starter/img/hex-bg.png") !important;
          width: 150px;
          z-index: -2;
          height: 150px;
          right: 50px;
          img{
            max-width:45%;
          }
        }
      }
    }
    #section-2{
      margin-top:50px;
      padding-top:30px;
      .ocean-container{
        display: none;
      }
    }
  }
}


@media all and (max-width: 576px) {
  #single {
    #section-1 {
      &.case-single {
        .page-thumb-wrapper {
          height: 400px;
          position: relative;
          background-position: top;
        }
      }
    }
  }
}

@media all and (max-width: 414px) {
  #single {
    #section-1 {
      &.case-single {
        .page-thumb-wrapper {
          height: 200px;
          margin-bottom:0;
          position: relative;
          background-position: top;
        }
      }
    }
  }
}