
#taxonomy{
  .ocean-container{
    height:250px;
  }
  #section-1{
    margin-top:75px;
  }
  #section-2{
    z-index:0;
    padding-bottom:50px;
  }
}

.tax-diensten-wrapper{
  padding:25px 0;
  .margin{
    margin-bottom:25px;
  }
  .tax-dienst{
    height:100%;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
    .dienst-img{
      padding:25px 0;
      text-align: center;
      border-bottom: solid 2px rgba(0, 0, 0, 0.05);
    }
    .dienst-content{
      padding:25px;
      border-bottom: solid 2px rgba(0, 0, 0, 0.05);
      .dienst-title{
        padding-bottom: 5px;
        h4{
          font-size:1.25em;
        }
      }
      .dienst-desc{
      }
    }
    .dienst-footer{
      padding:15px 25px;
      .dienst-hfd{
        font-size:.9em;
        display: inline-block;
      }
      .read-more-btn{
        display: inline-block;
        float:right;
      }
    }
  }
}

.graphic{
  &.vis-identity{
    svg {
      .cls-1, .cls-16 {
        fill: none;
      }

      .cls-1 {
        stroke-dasharray: 25 25;
        opacity: 0.15;
      }

      .cls-2 {
        fill: #ebf6e4;
      }

      .cls-3 {
        fill: #fff;
      }

      .cls-4 {
        fill: #dfefd7;
      }

      .cls-5 {
        fill: #ceeabe;
      }

      .cls-6, .cls-8, .cls-9 {
        fill: #c6e8b1;
      }

      .cls-12, .cls-14, .cls-7 {
        fill: #71c93e;
      }

      .cls-9 {
        stroke: #707070;
      }

      .cls-10 {
        fill: #8c9b93;
      }

      .cls-11 {
        fill: #fbfbfb;
      }

      .cls-12 {
        opacity: 0.295;
      }

      .cls-13, .cls-14, .cls-15 {
        stroke: none;
      }

      .cls-15 {
        fill: #707070;
      }

      .cls-17 {
        filter: url(#Path_93);
      }
    }
  }
  &.webdev{
    .cls-1 {
      fill: none;
      stroke-dasharray: 25 25;
      opacity: 0.15;
    }

    .cls-2 {
      fill: #f6f6f6;
    }

    .cls-3, .cls-5 {
      fill: #dce1de;
    }

    .cls-10, .cls-12, .cls-4 {
      fill: #8c9b93;
    }

    .cls-6 {
      fill: #fff;
    }

    .cls-7 {
      fill: #dfefd7;
    }

    .cls-8 {
      fill: #ceeabe;
    }

    .cls-9 {
      fill: #71c93e;
    }

    .cls-10 {
      opacity: 0.295;
    }

    .cls-11, .cls-12, .cls-13 {
      stroke: none;
    }

    .cls-13 {
      fill: #707070;
    }

    .cls-14 {
      filter: url(#Rectangle_14);
    }
  }
  &.online-marketing{
    svg {
      .cls-1, .cls-14 {
        fill: none;
      }

      .cls-1 {
        stroke-dasharray: 25 25;
      }

      .cls-2 {
        fill: #ebf6e4;
      }

      .cls-3, .cls-4, .cls-6 {
        fill: #c6e8b1;
      }

      .cls-4 {
        stroke: #71c93e;
      }

      .cls-11, .cls-5 {
        fill: #71c93e;
      }

      .cls-7 {
        fill: #fff;
      }

      .cls-8 {
        fill: #dfefd7;
      }

      .cls-9 {
        fill: #ceeabe;
      }

      .cls-10 {
        fill: #f8fcf6;
      }

      .cls-11 {
        opacity: 0.295;
      }

      .cls-12, .cls-13, .cls-15 {
        stroke: none;
      }

      .cls-13 {
        fill: rgba(140, 155, 147, 0.2);
      }

      .cls-15 {
        fill: #707070;
      }

      .cls-16 {
        filter: url(#Rectangle_14);
      }
    }
  }
}

@media all and (min-width: 993px) and (max-width: 1440px){
  .dienst-card{
    flex: 0 0 50%;
    max-width:50%;
  }
}

@media all and (max-width: 768px){
  #archive{
    .archive-diensten{
      .front-diensten{
        svg{
          margin-bottom: 50px;
        }
      }
    }
  }
  #taxonomy{
    #section-1{
      .graphic{
        margin-bottom:25px;
      }
    }
    #section-2{
      margin-top:50px;
      padding-top:30px;
    }
    .ocean-container{
      display: none;
    }
  }
}