$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #899D93;
$color__text-input:#899D93;
$color__text-input-focus: #71C93E;
$color__link: #899D93;
$color__link-visited: #71C93E;
$color__link-hover: #71C93E;
$color__text-main: #899D93;

$color__company-primary: #71C93E; // Primaire kleur van website
$color__company-secondary: #899D93; // Secondaire kleur van website
$color__company-tertiary: #D1D7D4; // Tertiary kleur van website
$color__company-quartenary: #8C9B93;

$color__soft-bg: #f8fcf6;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
