// @import url('https://fonts.googleapis.com/');

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

$font__main: 'Lato', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

h2{
  color:$color__company-primary;
  font-weight: 900;
}

h3{
  color:$color__company-primary;
  font-weight: 700;
}

h4{
  color:$color__company-primary;
  font-weight: 700;
}

p{
  font-size: 1.125em;
  line-height: 1.75em;
}

@media (max-width: 1200px) {
  p{
    font-size: 1em;
    line-height: 1.5em;
  }
  h1{
    font-size: 2em !important;
  }
  h2{
    font-size: 1.75em;
  }

}
